<%= provide(:title, "Charles's Build") %>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="subtitle is-size-2">Charles's build</h1>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <div class="columns">
            <%= 
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190521_120955261-1000x750-comp.jpg",
                    class: "column", alt: "Charles's chassis mockup"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190521_120955261-1000x750-comp.jpg") 
            %>
            <%= 
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190415_093500279-1000x750.jpg",
                    class: "column", alt: "Charles's build front-end"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190415_093500279-1000x750.jpg") 
            %>
        </div>
        <div class="columns">
            <%= 
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190415_093515237-1000x750.jpg",
                    class: "column", alt: "Charles's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190415_093515237-1000x750.jpg")
            %>
            <%= 
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190415_101719976-1000x750.jpg",
                    class: "column", alt: "Charles's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190415_101719976-1000x750.jpg")
            %>
            <%= 
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190415_132336045_HDR-1000x750.jpg",
                    class: "column", alt: "Charles's build handlebar"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190415_132336045_HDR-1000x750.jpg")
            %>
        </div>
        <div class="columns center">
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190422_110715131-1000x750.jpg",
                    class: "column", alt: "Charles's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190422_110715131-1000x750.jpg")
            %>
        </div>
        <div class="columns">
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190622_135322613-1000x750.jpg",
                    class: "column", alt: "Charles's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190622_135322613-1000x750.jpg")
            %>
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190523_122427643-1000x750.jpg",
                    class: "column", alt: "Charle's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/charles/IMG_20190523_122427643-1000x750.jpg")
            %>
        </div>
    </div>
</section>