<% provide(:title, "Tim's Build") %>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="subtitle is-size-2">Tim's build</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <%= 
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190713_143707371_HDR_scaled.jpg",
                    class: "column", alt: "Rear view of Tim's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190713_143707371_HDR_scaled.jpg") 
            %>
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190421_172042460-1000x750.jpg",
                    class: "column", alt: "Tim's build sketch"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190421_172042460-1000x750.jpg")
            %>

        </div>
        <div class="columns center">
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190701_182413906-1000x750.jpg",
                    class: "column", alt: "Tim's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190701_182413906-1000x750.jpg")
            %>
        </div>
        <div class="columns">
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190604_140842772-1000x750.jpg",
                    class: "column", alt: "Tim's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190604_140842772-1000x750.jpg")
            %>
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190606_164401900-1000x750.jpg",
                    class: "column", alt: "Tim's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190606_164401900-1000x750.jpg")
            %>
        </div>
        <div class="columns">
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190603_161935919_HDR-1000x750.jpg",
                    class: "column", alt: "Tim's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190603_161935919_HDR-1000x750.jpg")
            %>
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190604_091819935_HDR-1000x750.jpg",
                    class: "column", alt: "Tim's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190604_091819935_HDR-1000x750.jpg")
            %>
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190721_102524912-1000x750.jpg",
                    class: "column", alt: "Tim's build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/tim/IMG_20190721_102524912-1000x750.jpg")
            %>
        </div>
    </div>
</section>