<% provide(:title, "Twin Turbo") %>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="subtitle is-size-2">Twin turbo</h1>
    </div>
</section>

<section class="section">
    <div class="container">
            <div class="columns">
            <%= 
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/101_1391-1000x750.jpg",
                    class: "column", alt: "Twin turbo build"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/101_1391-1000x750.jpg")
            %>

            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190422_090911336-1000x750.jpg",
                    class: "column", alt: "twin turbo"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190422_090911336-1000x750.jpg")
            %>
        </div>
        <div class="columns center">
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190422_090906456-1000x1333.jpg",
                    class: "column", alt: "twin turbo"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190422_090906456-1000x1333.jpg")
            %>
        </div>
        <div class="columns">
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190604_192810511-1000x750.jpg",
                    class: "column", alt: "twin turbo"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190604_192810511-1000x750.jpg")
            %>
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190624_125236169-1000x750.jpg",
                    class: "column", alt: "twin turbo"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190624_125236169-1000x750.jpg")
            %>
        </div>
                <div class="columns">
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190421_172249151-1000x750.jpg",
                    class: "column", alt: "twin turbo"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190421_172249151-1000x750.jpg")
            %>
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190422_090611608-1000x750.jpg",
                    class: "column", alt: "twin turbo"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190422_090611608-1000x750.jpg")
            %>
            <%=
                link_to(
                    image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190422_090625367-1000x750.jpg",
                    class: "column", alt: "twin turbo"),
                "https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/twin_turbo/IMG_20190422_090625367-1000x750.jpg")
            %>
        </div>
    </div>
</section>