<aside class="menu has-text-centered is-hidden-mobile">
    <h3 class="is-size-3">Galleries</h3>
    <hr>
    <ul class="menu-list">
        <li>
            <%= link_to(
                    image_tag("/assets/galleries/charles/IMG_20190521_120955261_scaled.jpg",
                    { alt: "Link to Charles's build gallery" }),
                galleries_charles_path) %>
        </li>
    </ul>
    <p class="menu-label">
        Charles's build
    </p>
    <hr>
    <ul class="menu-list">
        <li>
            <%= link_to(
                    image_tag("/assets/galleries/tim/IMG_20190713_143707371_HDR_scaled.jpg",
                    { alt: "Link to Tim's build gallery" }),
                galleries_tim_path) %>
        </li>
    </ul>
    <p class="menu-label">
        Tim's build
    </p>
    <hr>
    <ul class="menu-list">
        <li>
            <%= link_to(
                    image_tag("/assets/galleries/red_trike/20180515_094812_scaled.jpg",
                    { alt: "Link to red trike gallery" }),
                galleries_red_trike_path) %>
        <li>
    </ul>
    <p class="menu-label">
        Red trike
    </p>
    <hr>
    <ul class="menu-list">
        <li>
            <%= link_to(
                    image_tag("/assets/galleries/roth_body/IMG_20190421_171638363_scaled.jpg",
                    { alt: "Link to Roth body gallery" }),
                galleries_roth_body_path) %>
        <li>
    </ul>
    <p class="menu-label">
        Roth body
    </p>
    <hr>
    <ul class="menu-list">
        <li>
            <%= link_to(
                    image_tag("/assets/galleries/twin_turbo/101_1391.jpg",
                    { alt: "Link to twin turbo gallery" }),
                galleries_twin_turbo_path) %>
        <li>
    </ul>
    <p class="menu-label">
        Twin turbo
    </p>
    <hr>
    <ul class="menu-list">
        <li>
            <%= link_to(
                    image_tag("/assets/galleries/misc/20180724_184420_scaled_4:3.jpg",
                    { alt: "Link to twin miscellaneous gallery" }),
                galleries_misc_path) %>
        <li>
    </ul>
    <p class="menu-label">
        Miscellaneous
    </p>
</aside>