<nav id="navbar" class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <%= link_to "Trike World Ltd.", root_path, { class: "navbar-item is-size-3 cursive" } %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-options">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-options" class="navbar-menu is-size-5">
        <div class="navbar-end">
            <%= link_to "Home", root_path, { class: "navbar-item" } %>
            <%= link_to "About me", about_path, { class: "navbar-item" } %>
            <%= link_to "Contact", contact_path, { class: "navbar-item" } %>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Galleries
                </a>

                <div class="navbar-dropdown is-right is-size-5">
                    <%= link_to "Charles's build", galleries_charles_path, { class: "navbar-item" } %>
                    <%= link_to "Tim's build", galleries_tim_path, { class: "navbar-item" } %>
                    <%= link_to "Red trike", galleries_red_trike_path, { class: "navbar-item" } %>
                    <%= link_to "Roth body", galleries_roth_body_path, { class: "navbar-item" } %>
                    <%= link_to "Twin turbo", galleries_twin_turbo_path, { class: "navbar-item" } %>
                    <hr class="navbar-divider">
                    <%= link_to "Miscellaneous", galleries_misc_path, { class: "navbar-item" } %>
                </div>
            </div>
        </div>
    </div>
</nav>