<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <title><%= full_title(yield(:title)) %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trike World Limited is helping people build the V8-powered trike chopper motorcycles they've always dreamed of. Contact Dennis Cope for information today.">
    <link rel="alternate" hreflang="en" href="https://trikeworldlimited.herokuapp.com">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/banner' if ["home", "about", "contact"].include?(yield(:page)) %>
    <%= render 'layouts/flash' %>
    <section class="section">
      <div class="columns">
        <div class="column is-2">
            <%= render 'layouts/menu' %>
        </div>
        <div class="column is-10">
          <div class="container has-text-weight-light">
              <%= yield %>
          </div>
        </div>
      </div>
    </section>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    <script>
      document.querySelector(".navbar-burger").addEventListener("click", () => {
        document.querySelector(".navbar-burger").classList.toggle("is-active");
        document.querySelector(".navbar-menu").classList.toggle("is-active");
      });
    </script>
  </body>
</html>
