<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <title><%= full_title(yield(:title)) %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top has-background-black">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/banner' %>
    <%= render 'layouts/flash' %>
    <section class="section">
      <div class="columns">
      <div class="column is-2">
          <%= render 'layouts/menu' %>
      </div>
      <div class="column is-10">
        <div class="container">
          <div class="notification has-background-black-ter has-text-light">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
